body {
    min-height: 100vh;
  }
  
  html {
    height: 100vh;
  }
  
  main {
    height: 100vh;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #F7F8FC;
  }

  #profilePic
  {
    border-radius: 50%;
  }

  hr {
      color:white;
  }

#banner {
  color:#838590;
}

.nav-pills .nav-link {
    border-radius: 0;
    color: #A4A6B3 !important;;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background:linear-gradient(90deg, #DDE2FF 1%, #3F4049 1%);
    color: #DDE2FF !important;
  }

#featureBox {
  border: 2px #DFE0EB solid;
  border-radius: 5px;
  background-color: white;
}

#featureBox:hover {
  border: 2px #3751FF solid;
  color: #3751FF;
  border-radius: 5px;
  background-color: white;
}

#featureBox:hover > p {
  color: #3751FF;
}


#featureBox p {
  color:#9FA2B4;
  font-weight: bold;
}

canvas {
  background-color: white;
}

h1 {
  color: #252733;
  font-size: 1.5em!important;
}

.spacedRow {
  height:20%;
}

.spacedRow p {
  font-size: small;
  color: #9FA2B4;
}

.flexFigure p {
  font-size: 0.7rem;
  color: #9FA2B4;
}

.flexFigure h5 {
  font-size: 1rem;
}

@media only screen and (max-width: 1400px) {
  .flexFigure {
    width: 100%;
  }
}

@media only screen and (max-width: 1400px) {
  nav {
    display: none!important;
  }
}

.ticketheader {
  font-size: medium;
  white-space: nowrap;
}

.bottomCardView {
  color:#3751FF; 
}

.bottomCardGroup {
  font-size: small;
  color: #9FA2B4;
}

.bottomCardSupport {
  color: #4B506D;
}

.createnewtask {
  font-size: medium;
  color: #C5C7CD;
}

.ticketamount {
  color: #9FA2B4;
}

.urgentbutton {
  color:white;
  background-color: #FEC400;
  border-radius: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.newbutton {
  color:white;
  background-color: #29CC97;
  border-radius: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.defaultbutton {
  color:#9FA2B4;
  background-color: #F0F1F7;
  border-radius: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}